allure-pytest==2.9.45
DingtalkChatbot==1.5.3
jsonpath==0.82
pydantic==1.10.2
PyMySQL==1.0.2
pytest==7.1.2
python-dateutil==2.8.2
PyYAML==6.0
redis==4.3.4
requests==2.28.1
requests-toolbelt==0.9.1
ruamel.yaml==0.17.21
urllib3==1.26.11
